@font-face {
  font-family: 'Geomanist';
  font-weight: normal;
  font-style: normal;
  src: url('./assets/fonts/Geomanist-Regular.otf') format('truetype');
}

@font-face {
  font-family: 'Geomanist-Bold';
  font-weight: normal;
  font-style: normal;
  src: url('./assets/fonts/Geomanist-Bold.otf') format('truetype');
}

@font-face {
  font-family: 'Geomanist-Light';
  font-style: normal;
  src: url('./assets/fonts/Geomanist-Light.otf') format('truetype');
}

@font-face {
  font-family: 'Geomanist-Medium';
  font-weight: normal;
  font-style: normal;
  src: url('./assets/fonts/Geomanist-Medium.otf') format('truetype');
}

html {
  min-height: 100vh;
  position: relative;
  scroll-behavior: smooth;
  font-family: 'Geomanist' !important;
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  background: #f0f0f7;
}

.bgjet {
  background-color: #2d2d2aff;
}
.bgdavys-grey {
  background-color: #4c4c47ff;
}
.bgcool-grey {
  background-color: #848fa5ff;
}
.bgbrick-red {
  background-color: #c14953ff;
}
.bgbone {
  background-color: #e5dcc5ff;
}
